.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 50vh);
}

/* Plaid. Changing background size values create multiple design options! */
#one {
    background-color: darkslateblue;
    background-image:
        linear-gradient(transparent 50%, rgb(240, 58, 58, 0.5) 50%),
        linear-gradient(
            90deg,
            rgb(233, 98, 190) 50%,
            rgb(37, 17, 137, 0.25) 50%
        );
    background-size: 2.5em 2.5em;
}

/* Playing more with stripes */
.one {
    background-color: rgb(81, 215, 208, 0.5);
    background-image:
        linear-gradient(transparent 80%, rgb(22, 45, 75) 20%),
        linear-gradient(90deg, transparent 75%, red 25%);
    opacity: 0.5;
    background-size: 2rem 2rem;
}

/* ZigZags - background position needs to have 50% of the first set of values */
#two {
    background-color: rgb(79, 4, 77);
    background-image:
        linear-gradient(-45deg, transparent 75%, rgb(162, 125, 14) 75%),
        linear-gradient(45deg, transparent 75%, rgb(162, 125, 14) 75%),
        linear-gradient(-135deg, transparent 75%, rgb(162, 125, 14) 75%),
        linear-gradient(135deg, transparent 75%, rgb(162, 125, 14) 75%);
    background-size: 4rem 4rem;
    background-position:
        2rem 0,
        2rem 0,
        0 0,
        0 0;
}
/* Alternatively, the above becomes houndstooth-like with changes made to the background size and position */
.two {
    background-color: rgb(79, 4, 77);
    background-image:
        linear-gradient(-45deg, transparent 75%, rgb(162, 125, 14) 75%),
        linear-gradient(45deg, transparent 75%, rgb(162, 125, 14) 75%),
        linear-gradient(-135deg, transparent 75%, rgb(162, 125, 14) 75%),
        linear-gradient(135deg, transparent 75%, rgb(162, 125, 14) 75%);
    background-size: 7rem 6rem;
    background-position:
        3rem 0,
        2rem 0,
        1.5rem 0,
        1rem 0;
}

/* Crosses - playing with background size and position will create other interesting patterns
     Note: The first called propery, in this case radial-g, is the top most layer. They go deeper as you add more. */
#three {
    background-color: rgb(54, 25, 29);
    background-image:
        radial-gradient(circle, transparent 1rem, rgb(54, 25, 29) 1rem),
        linear-gradient(pink 0.5rem, transparent 0.5rem),
        linear-gradient(90deg, pink 0.5rem, transparent 0 5rem);
    background-size: 5rem 5rem;
    background-position:
        5.25rem 5.25rem,
        2.5rem 2.5rem,
        2.5rem 2.5rem;
}

/* A crosses-attempt happy accident */
#four {
    background-color: rgb(55, 63, 46);
    background-image:
        radial-gradient(circle, transparent 1rem, pink 1rem),
        linear-gradient(teal 0.5rem, transparent 0.5rem),
        linear-gradient(90deg, teal 0.5rem, transparent 0.5rem);
    background-size: 2rem 2rem;
}

/* Evil eye accident */
#five {
    background-color: rgb(48, 44, 44);
    background-image: radial-gradient(
        circle,
        transparent 0.5rem,
        rgb(127, 127, 209) 0.5rem,
        rgb(127, 127, 209) 1.5rem,
        rgb(22, 22, 156) 1.5rem,
        rgb(22, 22, 156) 2.5rem,
        transparent 2.5rem
    );
    background-size: 5rem 5rem;
}

#five {
    background-color: rgb(48, 44, 44);
}

#six {
    background-color: aliceblue;
    background-image:
        linear-gradient(transparent 95%, red 5%),
        linear-gradient(90deg, transparent 95%, red 5%);
    background-size: 0.5rem 0.5rem;
    opacity: 0.2;
}

#six {
    background-color: rgb(58, 3, 51);
}

#seven {
    background-color: rgb(201, 222, 62);
}

#eight {
    background-color: rgb(245, 215, 178);
}

#nine {
    background-color: brown;
}

#ten {
    background-color: blueviolet;
}
